<%if @current_user_id_row != nil%>
  <h1><%= @place["name"] %></h1>

  <h2>My Entries</h2>
  <%entry_row = 0%>

    <%for entry_row in @entries_by_userid%>
      <h3><%= entry_row["title"] %></h3>
      <h4><%= entry_row["occurred_on"] %></h4>
      <p><%= entry_row["description"] %></p>
    <%end%>


  <p>
    <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
  </p>

  <p>
    <a href="/places">Back to All Places</a>
  </p>
<% else %>
  You need to login first.
<%end%>