<%if @current_user_id_row != nil%>
  <h1><%= @place["name"] %></h1>

  <h2>My Entries</h2>
  
  <%entry_row = 0%>

  <div class="container">
    <div class="row">
      <% for entry_row in @entries_by_userid %>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><%= entry_row["title"] %></h3>
              <h4 class="card-subtitle mb-2 text-muted"><%= entry_row["occurred_on"] %></h4>
              <p class="card-text"><%= entry_row["description"] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>



  <p>
    <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
  </p>

  <p>
    <a href="/places">Back to All Places</a>
  </p>
<% else %>
  You need to login first.
<%end%>